{{- if not .Values.secret.existingSecretName }}
apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: {{ include "github-exporter.name" . }}
    helm.sh/chart: {{ include "github-exporter.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    {{- if .Values.labels }}
    {{ .Values.labels | toYaml | nindent 4 -}}
    {{- end }}
  name: {{ include "github-exporter.fullname" . }}
  namespace: {{ .Release.Namespace }}
data:
  GITHUB_API_TOKEN: {{ .Values.secret.githubToken | b64enc }}
  GITHUB_WEBHOOK_TOKEN: {{ .Values.secret.githubWebhookToken | b64enc }}
type: Opaque
{{- end }}
